html, body {
    height: 100vh;
    width: 100vw;
}

body > #root {
    width: 100%;
    height: 100%;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.CircularProgressWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginSignup {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.Header {
    flex: 0 0 50px;
    background-color: #009688;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 10px;
    font-size: 2em;
    z-index: 1;
}
.LoginSignup > .Header {
    justify-content: center;
}

.LoginSignup > .FormWrapper {
    width: 100%;
    flex: 1 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.LoginSignup > .FormWrapper.SignupForm {
    flex: 1 0 400px;
}

.LoginSignup > .FormWrapper > .LoginSignupForm {
    flex: 0 0 300px;
}
.LoginSignup > .FormWrapper > .LoginSignupForm .LoginSignupFormInput {
    margin: 10px 0;
}

.Todo {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.Todo > .Header {
    align-items: center;
    justify-content: space-between;
}

.MyPage {
    flex: 1;
    display: flex;
    color: rgba(0,0,0,0.54);
}

.MyPage > .MyPageInner {
    max-width: 600px;
    margin: auto;
}
.MyPage > .MyPageInner > .MyPageContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.MyPage > .MyPageInner > .MyPageContent > div:last-child {
    margin-left: 20px;
}
.MyPage > .MyPageInner > .MyPageContent > div:last-child > div {
    font-size: 1.2em;
    margin: 10px;
}

.MyPage > .MyPageInner > div:last-child {
    text-align: center;
}

.TodoLi {
    margin: 15px 0;
}

.TodoLi > div {
    display: flex;
    flex-direction: column;
}
.TodoLi > div > .TodoLiUpper {
    display: flex;
}
.TodoLi > div > .TodoLiUpper > div:first-child {
    flex: 4;
}
.TodoLi > div > .TodoLiUpper > div:last-child {
    flex: 1;
}
.TodoLi > div > .TodoLiUpper > div:first-child > .TodoMainContent {
    padding: 15px;
}
.TodoLi > div > .TodoLiUpper > div:first-child > .TodoMainContent > div:first-child {
    display: flex;
    align-items: center;
    margin-top: -10px;
}
.TodoLi > div > .TodoLiUpper > div:first-child > .TodoMainContent > div:nth-child(2) {
    padding: 15px 0;
}
.CategoryChip {
    display: inline-block;
    max-width: 80px;
    color: white;
    border-radius: 5px;
    font-size: 0.7em;
    height: 23px;
}
.CategoryChip > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    font-weight: bold;
}
.CategoryChip > div:first-child > span {
    margin-left: 10px;
}

.Tag {
    font-size: 0.6em !important;
    height: 24px !important;
    margin-right: 5px;
    border-radius: 8px !important;
}

.LikeButton {
    color: gray !important;
}
.LikeButton:active {
    color: red !important;
}
