html, body {
    height: 100vh;
    width: 100vw;
}

body > #root {
    width: 100%;
    height: 100%;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.CircularProgressWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginSignup {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.Header {
    flex: 0 0 50px;
    background-color: #009688;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 10px;
    font-size: 2em;
    z-index: 1;
}
.LoginSignup > .Header {
    justify-content: center;
}

.LoginSignup > .FormWrapper {
    width: 100%;
    flex: 1 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.LoginSignup > .FormWrapper.SignupForm {
    flex: 1 0 400px;
}

.LoginSignup > .FormWrapper > .LoginSignupForm {
    flex: 0 0 300px;
}
.LoginSignup > .FormWrapper > .LoginSignupForm .LoginSignupFormInput {
    margin: 10px 0;
}

.Todo {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.Todo > .Header {
    align-items: center;
    justify-content: space-between;
}

.MyPage {
    flex: 1;
    display: flex;
    color: rgba(0,0,0,0.54);
}

.MyPage > .MyPageInner {
    max-width: 600px;
    margin: auto;
}
.MyPage > .MyPageInner > .MyPageContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.MyPage > .MyPageInner > .MyPageContent > div:last-child {
    margin-left: 20px;
}
.MyPage > .MyPageInner > .MyPageContent > div:last-child > div {
    font-size: 1.2em;
    margin: 10px;
}

.MyPage > .MyPageInner > div:last-child {
    text-align: center;
}

.TodoLi {
    margin: 15px 0;
}

.TodoLi:first-child {
    margin-top: 5px;
}

.TodoLi > div {
    display: flex;
    flex-direction: column;
}
.TodoLi > div > .TodoLiUpper {
    display: flex;
}
.TodoLi > div > .TodoLiUpper > div:first-child {
    flex: 4;
}
.TodoLi > div > .TodoLiUpper > div:last-child {
    flex: 1;
}
.TodoLi > div > .TodoLiUpper > div:first-child > .TodoMainContent {
    padding: 15px;
}
.TodoLi > div > .TodoLiUpper > div:first-child > .TodoMainContent > div:first-child {
    display: flex;
    align-items: center;
    margin-top: -10px;
}
.TodoLi > div > .TodoLiUpper > div:first-child > .TodoMainContent > div:nth-child(2) {
    padding: 15px 0;
}
.TodoLi > div > .TodoLiUpper > .TodoContentRight {
    border-left: 1px solid rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TodoLi > div > .TodoLiUpper > div:first-child > .TodoMainFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
    color: rgba(0,0,0,0.54);
    font-size: 0.85em;
}
.TodoLi > div > .TodoLiLower {
    background-color: #f6f6f6;
    border-top: 1px solid rgba(0,0,0,0.12);
}
.TodoLi > div > .TodoLiLower > ul > li {
    display: flex;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}
.TodoLi > div > .TodoLiLower > ul > li > div:first-child {
    flex: 4;
    border-right: 1px solid rgba(0,0,0,0.12);
}
.TodoLi > div > .TodoLiLower > ul > li > div:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TodoLi > div > .TodoLiLower > .TodoCommentForm> form {
    padding: 6px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TodoLi > div > .TodoLiLower > .TodoCommentForm > form > input {
    flex: 1;
    padding: 4px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.TodoLi > div > .TodoLiLower > .TodoCommentForm > form > button {
    flex: 0 0 60px;
    background-color: #dfdfdf;
    padding: 4px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}
.CategoryChip {
    display: inline-block;
    max-width: 80px;
    color: white;
    border-radius: 5px;
    font-size: 0.7em;
    height: 23px;
}
.CategoryChip > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    font-weight: bold;
}
.CategoryChip > div:first-child > span {
    margin-left: 10px;
}

.Tag {
    font-size: 0.6em !important;
    height: 24px !important;
    margin-right: 5px;
    border-radius: 8px !important;
}

.LikeButton {
    color: gray !important;
}
.LikeButton:active {
    color: red !important;
}

.HelpText {
    color: rgba(0,0,0,0.54);
}

.TodoRouterWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.TodoRouterWrapper > .TodoList {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.TodoRouterWrapper > .TodoList > .TodoListFilterWrapper {
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.TodoRouterWrapper > .TodoList > .TodoListFilterWrapper > .TodoListFilterUpper {
    display: flex;
    position: relative;
}
.TodoRouterWrapper > .TodoList > ul {
    flex: 1;
    overflow-y: auto;
}
.CategorySelector {
    flex: 1;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    cursor: pointer;
    padding: 4px 8px;
    transition: color 0.5s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.CategorySelectorMovingBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 28px;
    border-radius: 15px;
    transition: 0.5s;
}
.TodoRouterWrapper > .TodoList > .TodoListFilterWrapper > .TodoListFilterLower {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.TodoFormToolbar {
    justify-content: space-between;
    color: white;
}
.TodoFormToolbar > div:first-child {
    display: flex;
    align-items: center;
}

div.ReactTags__suggestions {
    z-index: 1;
}
