html, body {
    height: 100vh;
    width: 100vw;
}

body > #root {
    width: 100%;
    height: 100%;
    display: flex;
}

.CircularProgressWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginSignup {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.Header {
    flex: 0 0 50px;
    background-color: #009688;
    display: flex;
    color: white;
    align-items: center;
    padding: 0 10px;
    font-size: 2em;
    z-index: 1;
}
.LoginSignup > .Header {
    justify-content: center;
}

.LoginSignup > .FormWrapper {
    width: 100%;
    flex: 1 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}
.LoginSignup > .FormWrapper.SignupForm {
    flex: 1 0 400px;
}

.LoginSignup > .FormWrapper > .LoginSignupForm {
    flex: 0 0 300px;
}
.LoginSignup > .FormWrapper > .LoginSignupForm .LoginSignupFormInput {
    margin: 10px 0;
}